body {
    width: auto;
    font-size: 18px;
    font-family: Arial;
    color: orange;
    background-color: black;
    text-align: center;
}

ul {
    list-style-position: inside;
}

header {
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-bottom-style: solid;
    border-color: rgb(255,204,102);
}

a {
    color: rgb(255, 204, 102);
}

#logo {
    position: ;
    float: right;
    width: 40px;
}

#logoText{
/*    font-size: 22px;*/
    float: left;
/*    background-color: aqua;*/
    height: 100%;
    padding-top: 10px
}

#speaker {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    display: none;
}

#playButton {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
}

#reloadInfo{
    display: none;
}